[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coreapi = "*"
coreschema = "*"
django-filter = "*"
django-guardian = "*"
markdown = "*"
psycopg2-binary = "*"
pygments = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
mkdocs = "*"
jinja2 = "*"
twine = "*"
transifex-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
